<head>
    <link rel='stylesheet' href='styles.css'>
</head>

<div class='container'>
    <h1>
        <span class='header'>Update Your Information</span>
    </h1>
            
    <form action='update' method='post'>
        food
        <input type='text' name='food'>
        color
        <input type='text' name='color'>
        <input type='submit' value='Update'>
    </form>
</div>
